{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari 7", "IE 11"]
      },
      "useBuiltIns": false,
      "modules": false,
      "exclude": [
        "transform-regenerator"
      ]
    }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari 7", "IE 11"]
          },
          "useBuiltIns": false,
          "modules": "commonjs",
          "exclude": [
            "transform-regenerator"
          ]
        }
        ]
      ]
    }
  },
  "plugins": ["@babel/plugin-syntax-dynamic-import", "emotion"]
}

