:root {
  --background: #f6f1f1;
  --header-grey: #4a4a4a;
  --ui-grey: #e6e6e6;

  --show-tone-light: rgba(255, 255, 255, 1);
  --show-tone-dark: rgba(0, 0, 0, 1);
  --header-height: 75px;

  --color__brand-red: rgb(176, 39, 39);
  --color__lighter-red: rgb(218, 43, 43);
}
