.ApplicationForm {
	& .FormHeader {
		text-align: center;

		& h1 {
			font-weight: 600;
			font-size: 48px;
			margin: 10px 0 5px;
			text-transform: uppercase;
		}

		& p {
      display: inline-block;
			margin-bottom: 0;

      @media (--large) {
        max-width: 50%;
      }
		}
	}
}

.StyledInput {
	margin: 50px 0;
	
	& > label {
		display: inline-block;
		font-size: 36px;
		font-weight: 600;
	}

	& .meta {
		color: #888;
		font-size: 16px;
	}

	& > input, & > textarea, & > select {
		display: block;
		padding: 20px 10px 10px 5px;
		width: 100%;
		background: none;
		border: 0;
		box-shadow: none;
		resize: none;
		font-size: 20px;
		border-bottom: 4px solid var(--color__brand-red);
		font-family: inherit;
		transition: border .25s;
		box-sizing: border-box;

		@media (--large) {
			width: 50%;
		}
	}

	& > input:valid, & > textarea:valid, & > select:valid {
		border-bottom: 4px solid var(--color-good);
	}
}

.SubmitInput > input[type=submit] {
  display: block;
  padding: 20px 10px;
  width: 100%;
  background: var(--color__brand-red);
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: var(--color__lighter-red);
  }
}

.BoolInput {
  & > .Flipper {
    display: inline-block;
    margin: 0 10px 10px 5px;
    padding: 20px;
    width: 200px;
    font-size: 20px;
    background-color: var(--color__brand-red);
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
    transition: background-color .25s, box-shadow .25s;

    &:hover {
      background-color: var(--color__lighter-red);
    }
  }

  & > input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .Flipper {
      background-color: var(--color-good);
    }

    &:focus + .Flipper {
      box-shadow: 0 0 5px var(--color-good);
    }

    &:checked:focus + .Flipper {
      box-shadow: 0 0 5px var(--color__lighter-red);
    }
  }
}

.EmojiInput, .ColorInput {
  margin-bottom: 5px;

  & > input[type=button] {
    display: inline-block;
    width: auto;
    border: 1px solid #888;
    border-bottom: 4px solid var(--color-good);
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 36px;
  }

  & .emoji-mart {
    position: absolute;
  }
}

.ColorInput {
  & > input[type=button] {
    width: 200px;
  }

  & .twitter-picker {
    position: absolute !important;
  }
}
