.ApplicationForm {
	& .FormHeader {
		text-align: center;

		& h1 {
			font-weight: 600;
			font-size: 48px;
			margin: 10px 0 5px;
			text-transform: uppercase;
		}

		& p {
      display: inline-block;
			margin-bottom: 0;

      @media (--large) {
        max-width: 50%;
      }
		}
	}
}

.StyledInput {
	margin: 50px 0;

	& > label {
		display: inline-block;
		font-size: 36px;
		font-weight: 600;
	}

	& .meta {
		color: #888;
		font-size: 16px;
	}

	& > input, & > textarea, & > select {
		display: block;
		padding: 20px 10px 10px 5px;
		width: 100%;
		background: none;
		border: 0;
		box-shadow: none;
		resize: none;
		font-size: 20px;
		border-bottom: 4px solid var(--color__brand);
		font-family: inherit;
		transition: border .25s;
		box-sizing: border-box;

		@media (--large) {
			width: 50%;
		}
	}

	& > input:valid, & > textarea:valid, & > select:valid {
		border-bottom: 4px solid var(--color-good);
	}
}

.SubmitInput > input[type=submit] {
  display: block;
  padding: 20px 10px;
  width: 100%;
  background: var(--color__brand);
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: var(--color__brand-hover);
  }
}

.BoolInput {
  & > .Flipper {
    display: inline-block;
    margin: 0 10px 10px 5px;
    padding: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background .25s;
  }

  & > input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .Flipper {
      background: url('data:image/svg+xml;utf8,<svg width="1700" height="1536" viewBox="0 100 1700 1536" fill="rgb(65, 192, 1)" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566c0 25-10 50-28 68l-724 724-136 136c-18 18-43 28-68 28s-50-10-68-28l-136-136-362-362c-18-18-28-43-28-68s10-50 28-68l136-136c18-18 43-28 68-28s50 10 68 28l294 295 656-657c18-18 43-28 68-28s50 10 68 28l136 136c18 18 28 43 28 68z"/></svg>') 0%/85px no-repeat, #fff;
    }

    &:focus + .Flipper, .Flipper:focus {
      border-color: #2e9a7f;
    }
  }
}

.EmojiInput, .ColorInput {
  margin-bottom: 5px;

  & > input[type=button] {
    display: inline-block;
    width: auto;
    border: 1px solid #888;
    border-bottom: 4px solid var(--color-good);
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 36px;
  }

  & .emoji-mart {
    position: absolute;
  }
}

.ColorInput {
  & > input[type=button] {
    width: 200px;
  }

  & .twitter-picker {
    position: absolute !important;
  }
}
