.Article {


  &__title {
    font-size: 2em;
    margin: 0;
  }

  &__header {
    font-size: 1.2rem;
  }

  &__byline {
    font-style: italic;
  }

  &__featured-image {

  }

  &__content {
    font-weight: 400;
  }
}
