@import '../core/layers.css';

.Header {
  background: #f6f6f6;
  z-index: var(--layer-header--top);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);

  @media (--medium) {
    width: 180px;
    background: rgb(26, 24, 24);
    right: auto;
    height: auto;
    bottom: 0;
    z-index: var(--layer-header--side);
    display: flex;
  }

  &__container {
  }

  &__menu {
    left: -60px;
    padding-top: 0.4rem;
    float: left;
    position: relative;

    @media (--medium) {
      left: 0;
      float: none;
    }
  }

  &__logo {
    display: block;
    width: 320px;
    position: relative;
    left: -115px;
    top: -145px;
    float: left;

    & > a {
      display: block;
      transition: transform 400ms ease;

      @media (--large) {
        &:hover {
          transform: rotate(6deg);
        }
      }
    }

    @media (--medium) {
      width: 80%;
      left: 0;
      top: 0;
      float: none;
      margin: 1rem auto;
    }
  }

  &__logo-out {
    background-image: url('../img/logo.png');
    background-size: contain;
    display: block;
    height: 136px;
    left: calc(-1 * (136px + 20px));
    position: absolute;
    top: 4px;
    width: 136px;
    z-index: var(--layer-logo);
  }
}
