.HeaderNav {
  font-size: 1.1rem;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  font-weight: 800;

  &__item {
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-transform: uppercase;

    &:last-child::after {
      display: none;
    }

    @media (--medium) {
      float: left;

      &:after {
        content: '/';
        display: inline;
      }
    }
  }

  &__link {
    color: #000;
    font-weight: 600;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-decoration: none;
  }
}
