.Header {
  background: #f6f6f6;
  z-index: var(--layer__header);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);

  /* box-shadow: 0 0 3px 0 rgba(30, 30, 30, 0.6); */

  &__container {

  }

  &__menu {
    left: -60px;
    padding-top: 1.6rem;
    float: left;
    position: relative;
  }

  &__logo {
    display: block;
    width: 320px;
    position: relative;
    left: -115px;
    top: -145px;
    float: left;
    
    & > a {
      display: block;
      transition: transform 400ms ease;
  
      &:hover {
        transform: rotate(6deg);
      }
    }
  }

  &__logo-out {
    background-image: url('../img/logo.png');
    background-size: contain;
    display: block;
    height: 136px;
    left: calc(-1 * (136px + 20px));
    position: absolute;
    top: 4px;
    width: 136px;
    z-index: var(--layer-logo);
  }
}
