@import '../core/layers.css';

.Header {
  background: #f6f6f6;
  z-index: var(--layer-header--top);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);

  @media (--medium) {
    width: 180px;
    background: rgb(42, 37, 38);
    right: auto;
    height: auto;
    bottom: 0;
    display: flex;
  }

  &__container {
  }

  &__menu {
    left: -60px;
    padding-top: 0.4rem;
    float: left;
    position: relative;

    @media (--medium) {
      left: 0;
      float: none;
    }
  }

  &__logo {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    margin: 2.5px 0;
    float: left;

    & > a {
      display: block;
    }

    @media (--medium) {
      float: none;
      margin: 20px -0.9rem;
    }
  }
}
