.NewsItem {
  font-family: Helvetica;
  height: 300px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &--featured {
     height: 300px;
     width: 500px;
   }
}

.TileImage {
  display: inline-block;
  width: 100%;
  height: 230px;
  vertical-align:top;
  overflow: hidden;
}

.TileDetails {
  display: inline-grid;
  box-sizing: border-box;
  padding: 10px;
  max-width: 100%;
  height: 70px;
  max-height: 90px;
}

.NewsItem__title {
  display: table;
  height: fit-content;
  grid-column-start: 1;
}

.NewsItem__titletext {
  display: inline;
}

.NewsItem__description {
  padding-top: 3px;
  display: inline;
  grid-row-start: 2;
  max-height: 3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.NewsItem__date {
  display: table;
  height: fit-content;
  grid-column-start: 2;
  float: right;
}

.NewsItem__image {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 130%;
  max-height: 130%;
}
