.Page {
  background-color: #f6f1f1;
  position: relative;
  z-index: var(--layer-page);
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  box-shadow: 0 0 28px 0 rgba(30, 30, 30, 0.3);
  padding-bottom: 100px;

  @media (--medium) {
    margin-top: 0;
    margin-left: 180px;
    min-height: 100vh;
  }

  &__heading {
    margin: 0;
    padding-top: 0.75rem;
    margin-bottom: 1.25rem;
  }
}
