.Schedule {
  display: flex;

  &__days {
    flex: 1 0 auto;
  }

  &__scroll {
    width: 3600px;
  }

  &__scroll-container {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1.3rem;
  }
}

.ScheduleSingleContainer {
  min-height: 132px;
}

.WeekSelector {
  margin-left: 10px;

  &__inline, > * {
    display: inline-block;
    margin: 0 10px;
    vertical-align: bottom;
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
  }

  &__Week {
    transition: color .25s, fill .25s;
    cursor: pointer;

    &__inactive {
      color: #999;
      fill: #999;
    }

    &:hover {
      color: #000;
      fill: #000;
    }
  }

  h2 {
    margin: 0;
    line-height: 0.8em;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
