.ScheduleDayColumn {
  padding-top: 25px;

  &__day {
    border-right: 1px solid #fff;
    box-sizing: border-box;
    display: block;
    height: 76px;
    padding: 0.5rem;
    position: relative;
  }
}
