.ShowHeader {
  position: relative;
  margin-bottom: 60px;
  box-shadow: 0 0 5px rgba(40, 40, 40, 0.2);

  &--has-cover {
    padding-bottom: 100px;
    padding-top: 200px;
  }

  &--loading {
    background-color: #f4f4f4;
  }

  &__container {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__cover {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, .2);
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    bottom: 0;

    @media (--medium) {
      bottom: -60px;
      margin: 0 1rem;
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__cover-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__cover-gradient {
    bottom: 0;
    height: 250px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &--tone-dark {
    color: var(--show-tone-dark);

    & a {
      color: var(--show-tone-dark);
    }
  }

  &--tone-light {
    color: var(--show-tone-light);
    text-shadow: 0 0 3px rgba(40, 40, 40, 0.6);

    & a {
      color: var(--show-tone-light);
    }
  }

  &__show-title {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 2.2rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 600px) {
      text-align: left;
    }

    & > a {
      text-decoration: none;
    }
  }

  &__show-title--logo {
    & a > img {
      max-width: 300px;
      max-height: 60px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  &--has-cover &__container {
    text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.3);
  }

  &__short-description {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    padding-top: 0.25rem;

    @media screen and (min-width: 600px) {
      padding-right: 20%;
    }

    & p {
      margin: 0;
    }
  }

  &__schedule-times {
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    padding-bottom: 1rem;
  }

  &__members {
    font-style: italic;
    font-size: 1.2rem;
  }
}
