@keyframes three-sixty {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  animation: three-sixty 1.4s infinite linear;
  border-radius: 50%;
  font-size: 6px;
  height: 11em;
  margin: 2rem auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 11em;

  &:before {
    background: #b02727;
    border-radius: 100% 0 0 0;
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }

  &:after {
    background: var(--background);
    border-radius: 50%;
    bottom: 0;
    content: '';
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
  }
}
